@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 1.25rem;
  scroll-behavior: smooth;
}

.description{
  color: rgb(97, 6, 200);
  /* font-size: 1.4rem; */
}

.bg-my{
  background-color: black;
}

header{
  /* background-color: #252525; */
  color: #ffffff;
}

.advance:hover{
  transform: translate3d(0,-0.125rem,0);
}

/* Base container style */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Fixed-width container with different breakpoints */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Full-width container */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Custom styles for different container variants */
.container-primary {
  background-color: rgb(97, 6, 200);
  color: white;
  border-radius: 5px;
}

.container-secondary {
  background-color: #6c757d;
  color: white;
  border-radius: 5px;
}

/* Additional customization */
.container-padding-lg {
  padding: 30px;
}

.container-margin-top-lg {
  margin-top: 30px;
}

.container-rounded {
  border-radius: 10px;
}



/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 

form input{
  font-size: 0.5rem;
}

/* Define the element selector, replace '.your-element' with your actual class or ID */
.my-element {
  /* Default styles */
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 992px) {  
  .my-element {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.logo{
  width: 10px;
}
